@media screen and (max-width: 1200px){
    .made-by-experts-inner-text h1 {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
    }
    .made-by-experts-inner-text p {
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 36px;
    }
    .experts-inner-image img {
        max-width: 137px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
    .experts-inner-flag-contant img {
        max-width: 52px;
        border-radius: inherit;
        aspect-ratio: inherit;
    }
    .experts-inner-flag-contant {
        position: absolute;
        bottom: -5px;
        right: 66px;
    }
    .made-by-experts-inner-box h3 {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .badge {
        margin: 0 10px;
        color: #000;
        font-size: 16px;
        font-weight: 500;
    }
    .product-end-note {
        text-align: center;
        margin: 100px 0px;
    }
    .alchemy-container {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        margin: 100px 0px;
    }
    .alchemy-features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        width: 80%;
        justify-self: anchor-center;
        margin-top: 100px;
    }
   
    .container {
        padding: 0 15px;
    }

    .our-promise-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .our-promise-header {
        grid-column: span 2;
        text-align: center;
    }

    .image-container {
        grid-column: span 2;
        justify-content: center;
    }

    .our-story-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .story-image-left img,
    .story-image-right img {
        width: 60%;
        height: 100vh;
    }

    .caption {
        text-align: center;
        margin-top: 10px;
    }

    .for-dogs-section {
        flex-direction: column;
        text-align: center;
    }

    .for-dogs-content {
        padding: 20px;
    }

    .for-dogs-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 990px){

}
@media (max-width: 768px) {
    .hero {
        justify-content: center;
        text-align: center;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .badges {
        gap: 10px;
    }

    .our-promise-container {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .our-promise-header {
        grid-column: span 1;
        text-align: center;
        font-size: 32px;
    }

    .promise-bottom-cards {
        margin-left: 0%;
    }

    .promise-image-container {
        grid-column: span 1;
        justify-content: center;
    }

    .promise-image-container img {
        max-width: 100%;
        height: auto;
        margin-right: 0px;
        margin-top: 0px;
    }

    .story-image-left img,
    .story-image-right img {
        width: 100%;
        height: 80vh;
    }

    .for-dogs-title {
        font-size: 26px;
    }

    .product-end-note h2 {
        font-size: 2rem;
    }

    .product-end-note p {
        font-size: 1rem;
    }

    .company-logo-slide {
        width: 200px;
        padding: 0 10px;
    }

    .alchemy-hero-section {
        flex-direction: column;
    }

    .alchemy-hero-heading {
        font-size: 32px;
    }

    .alchemy-hero-description {
        font-size: 16px;
    }

    .alchemy-micro-title {
        font-size: 42px;
    }

    .alchemy-micro-description {
        font-size: 16px;
    }
}
@media screen and (max-width: 580px){
    
}
@media (max-width: 480px) {
    .content {
        padding: 15px;
        justify-content: center;
    }

    .company-logo-slide {
        width: 150px;
        padding: 0 5px;
    }

    .promise-bottom-cards {
        margin-left: 0%;
    }

    .section-raise-bar {
        padding: 80px 20px;
    }

    .alchemy-hero-heading {
        font-size: 26px;
    }

    .alchemy-hero-description {
        font-size: 14px;
    }

    .alchemy-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .alchemy-micro-title {
        font-size: 32px;
    }

    .alchemy-micro-subtitle {
        font-size: 18px;
    }

    .alchemy-micro-benefit h3 {
        font-size: 22px;
    }
}